In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("covid19_bigdata_project.csv")

In [3]:
df

            date           state  confirmed  deaths  recovered  active
0     2021-05-10   Uttar Pradesh      860.0    14.0      106.0     740
1     2020-05-27           Bihar     3444.0     NaN     2919.0     426
2     2021-03-21          Kerala        NaN     NaN       21.0    1106
3     2021-06-19  Andhra Pradesh        NaN    14.0      189.0    2544
4     2020-07-09  Madhya Pradesh     3556.0     NaN      646.0    2860
...          ...             ...        ...     ...        ...     ...
4995  2020-11-06  Andhra Pradesh     1729.0    22.0       38.0    1669
4996  2020-05-20       Karnataka      340.0   164.0      227.0     -51
4997  2021-12-06      Tamil Nadu     2087.0   137.0      255.0    1695
4998  2020-07-10     West Bengal     2915.0    26.0        NaN     858
4999  2021-12-26             NaN     1646.0   155.0      512.0     979

[5000 rows x 6 columns]

In [4]:
df = pd.read_csv("covid19_bigdata_project.csv").copy()

In [5]:
df

            date           state  confirmed  deaths  recovered  active
0     2021-05-10   Uttar Pradesh      860.0    14.0      106.0     740
1     2020-05-27           Bihar     3444.0     NaN     2919.0     426
2     2021-03-21          Kerala        NaN     NaN       21.0    1106
3     2021-06-19  Andhra Pradesh        NaN    14.0      189.0    2544
4     2020-07-09  Madhya Pradesh     3556.0     NaN      646.0    2860
...          ...             ...        ...     ...        ...     ...
4995  2020-11-06  Andhra Pradesh     1729.0    22.0       38.0    1669
4996  2020-05-20       Karnataka      340.0   164.0      227.0     -51
4997  2021-12-06      Tamil Nadu     2087.0   137.0      255.0    1695
4998  2020-07-10     West Bengal     2915.0    26.0        NaN     858
4999  2021-12-26             NaN     1646.0   155.0      512.0     979

[5000 rows x 6 columns]

In [6]:
df.head()

         date           state  confirmed  deaths  recovered  active
0  2021-05-10   Uttar Pradesh      860.0    14.0      106.0     740
1  2020-05-27           Bihar     3444.0     NaN     2919.0     426
2  2021-03-21          Kerala        NaN     NaN       21.0    1106
3  2021-06-19  Andhra Pradesh        NaN    14.0      189.0    2544
4  2020-07-09  Madhya Pradesh     3556.0     NaN      646.0    2860

In [7]:
df.tail()

            date           state  confirmed  deaths  recovered  active
4995  2020-11-06  Andhra Pradesh     1729.0    22.0       38.0    1669
4996  2020-05-20       Karnataka      340.0   164.0      227.0     -51
4997  2021-12-06      Tamil Nadu     2087.0   137.0      255.0    1695
4998  2020-07-10     West Bengal     2915.0    26.0        NaN     858
4999  2021-12-26             NaN     1646.0   155.0      512.0     979

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       5000 non-null   object
 1   state      4729 non-null   object
 2   confirmed  4462 non-null   float64
 3   deaths     4493 non-null   float64
 4   recovered  4510 non-null   float64
 5   active     5000 non-null   int64
dtypes: float64(3), int64(1), object(2)
memory usage: 234.5+ KB

In [9]:
df.describe()

         confirmed       deaths    recovered       active
count  4462.000000  4493.000000  4510.000000  5000.000000
mean   2485.834827   100.305586  1220.198448  1158.124200
std    1451.336965    57.887514  1087.643323  1113.119383
min       0.000000     0.000000     0.000000  -195.000000
25%    1220.000000    49.000000   324.000000   240.000000
50%    2493.500000   101.000000   891.500000   844.500000
75%    3723.000000   150.000000  1893.750000  1849.000000
max    4999.000000   199.000000  4948.000000  4905.000000

In [10]:
df.isnull()

       date  state  confirmed  deaths  recovered  active
0     False  False      False   False      False   False
1     False  False      False    True      False   False
2     False  False       True    True      False   False
3     False  False       True   False      False   False
4     False  False      False    True      False   False
...     ...    ...        ...     ...        ...     ...
4995  False  False      False   False      False   False
4996  False  False      False   False      False   False
4997  False  False      False   False      False   False
4998  False  False      False   False       True   False
4999  False   True      False   False      False   False

[5000 rows x 6 columns]

In [11]:
df.isnull().sum()

date           0
state        271
confirmed    538
deaths       507
recovered    490
active         0
dtype: int64

In [13]:
df.shape

(5000, 6)

In [14]:
df.isnull().sum()

date           0
state        271
confirmed    538
deaths       507
recovered    490
active         0
dtype: int64

In [15]:
df['date'] = pd.to_datetime(df['date'], errors='coerce')

In [16]:
df

           date           state  confirmed  deaths  recovered  active
0    2021-05-10   Uttar Pradesh      860.0    14.0      106.0     740
1    2020-05-27           Bihar     3444.0     NaN     2919.0     426
2    2021-03-21          Kerala        NaN     NaN       21.0    1106
3    2021-06-19  Andhra Pradesh        NaN    14.0      189.0    2544
4    2020-07-09  Madhya Pradesh     3556.0     NaN      646.0    2860
...         ...             ...        ...     ...        ...     ...
4995 2020-11-06  Andhra Pradesh     1729.0    22.0       38.0    1669
4996 2020-05-20       Karnataka      340.0   164.0      227.0     -51
4997 2021-12-06      Tamil Nadu     2087.0   137.0      255.0    1695
4998 2020-07-10     West Bengal     2915.0    26.0        NaN     858
4999 2021-12-26             NaN     1646.0   155.0      512.0     979

[5000 rows x 6 columns]

In [17]:
df.isnull().sum()

date           0
state        271
confirmed    538
deaths       507
recovered    490
active         0
dtype: int64

In [18]:
df.loc[:, 'confirmed'] = df['confirmed'].fillna(0)

In [19]:
df

           date           state  confirmed  deaths  recovered  active
0    2021-05-10   Uttar Pradesh      860.0    14.0      106.0     740
1    2020-05-27           Bihar     3444.0     NaN     2919.0     426
2    2021-03-21          Kerala        0.0     NaN       21.0    1106
3    2021-06-19  Andhra Pradesh        0.0    14.0      189.0    2544
4    2020-07-09  Madhya Pradesh     3556.0     NaN      646.0    2860
...         ...             ...        ...     ...        ...     ...
4995 2020-11-06  Andhra Pradesh     1729.0    22.0       38.0    1669
4996 2020-05-20       Karnataka      340.0   164.0      227.0     -51
4997 2021-12-06      Tamil Nadu     2087.0   137.0      255.0    1695
4998 2020-07-10     West Bengal     2915.0    26.0        NaN     858
4999 2021-12-26             NaN     1646.0   155.0      512.0     979

[5000 rows x 6 columns]

In [20]:
df.isnull().sum()

date           0
state        271
confirmed      0
deaths       507
recovered    490
active         0
dtype: int64

In [22]:
df.loc[:, 'deaths'] = df['deaths'].fillna(0)

In [23]:
df

           date           state  confirmed  deaths  recovered  active
0    2021-05-10   Uttar Pradesh      860.0    14.0      106.0     740
1    2020-05-27           Bihar     3444.0     0.0     2919.0     426
2    2021-03-21          Kerala        0.0     0.0       21.0    1106
3    2021-06-19  Andhra Pradesh        0.0    14.0      189.0    2544
4    2020-07-09  Madhya Pradesh     3556.0     0.0      646.0    2860
...         ...             ...        ...     ...        ...     ...
4995 2020-11-06  Andhra Pradesh     1729.0    22.0       38.0    1669
4996 2020-05-20       Karnataka      340.0   164.0      227.0     -51
4997 2021-12-06      Tamil Nadu     2087.0   137.0      255.0    1695
4998 2020-07-10     West Bengal     2915.0    26.0        NaN     858
4999 2021-12-26             NaN     1646.0   155.0      512.0     979

[5000 rows x 6 columns]

In [24]:
df.isnull().sum()

date           0
state        271
confirmed      0
deaths         0
recovered    490
active         0
dtype: int64

In [25]:
df.loc[:, 'recovered'] = df['recovered'].fillna(0)

In [26]:
df

           date           state  confirmed  deaths  recovered  active
0    2021-05-10   Uttar Pradesh      860.0    14.0      106.0     740
1    2020-05-27           Bihar     3444.0     0.0     2919.0     426
2    2021-03-21          Kerala        0.0     0.0       21.0    1106
3    2021-06-19  Andhra Pradesh        0.0    14.0      189.0    2544
4    2020-07-09  Madhya Pradesh     3556.0     0.0      646.0    2860
...         ...             ...        ...     ...        ...     ...
4995 2020-11-06  Andhra Pradesh     1729.0    22.0       38.0    1669
4996 2020-05-20       Karnataka      340.0   164.0      227.0     -51
4997 2021-12-06      Tamil Nadu     2087.0   137.0      255.0    1695
4998 2020-07-10     West Bengal     2915.0    26.0        0.0     858
4999 2021-12-26             NaN     1646.0   155.0      512.0     979

[5000 rows x 6 columns]

In [27]:
df.isnull().sum()

date           0
state        271
confirmed      0
deaths         0
recovered      0
active         0
dtype: int64

In [28]:
df['state'] = df['state'].str.strip()

In [29]:
df

           date           state  confirmed  deaths  recovered  active
0    2021-05-10   Uttar Pradesh      860.0    14.0      106.0     740
1    2020-05-27           Bihar     3444.0     0.0     2919.0     426
2    2021-03-21          Kerala        0.0     0.0       21.0    1106
3    2021-06-19  Andhra Pradesh        0.0    14.0      189.0    2544
4    2020-07-09  Madhya Pradesh     3556.0     0.0      646.0    2860
...         ...             ...        ...     ...        ...     ...
4995 2020-11-06  Andhra Pradesh     1729.0    22.0       38.0    1669
4996 2020-05-20       Karnataka      340.0   164.0      227.0     -51
4997 2021-12-06      Tamil Nadu     2087.0   137.0      255.0    1695
4998 2020-07-10     West Bengal     2915.0    26.0        0.0     858
4999 2021-12-26             NaN     1646.0   155.0      512.0     979

[5000 rows x 6 columns]

In [30]:
df.isnull().sum()

date           0
state        271
confirmed      0
deaths         0
recovered      0
active         0
dtype: int64

In [31]:
df.duplicated().sum()

np.int64(0)

In [32]:
df = df.drop_duplicates()

In [33]:
df

           date           state  confirmed  deaths  recovered  active
0    2021-05-10   Uttar Pradesh      860.0    14.0      106.0     740
1    2020-05-27           Bihar     3444.0     0.0     2919.0     426
2    2021-03-21          Kerala        0.0     0.0       21.0    1106
3    2021-06-19  Andhra Pradesh        0.0    14.0      189.0    2544
4    2020-07-09  Madhya Pradesh     3556.0     0.0      646.0    2860
...         ...             ...        ...     ...        ...     ...
4995 2020-11-06  Andhra Pradesh     1729.0    22.0       38.0    1669
4996 2020-05-20       Karnataka      340.0   164.0      227.0     -51
4997 2021-12-06      Tamil Nadu     2087.0   137.0      255.0    1695
4998 2020-07-10     West Bengal     2915.0    26.0        0.0     858
4999 2021-12-26             NaN     1646.0   155.0      512.0     979

[5000 rows x 6 columns]

In [34]:
df.isnull().sum()

date           0
state        271
confirmed      0
deaths         0
recovered      0
active         0
dtype: int64

In [35]:
df = df[df['state'].notnull()]

In [36]:
df

           date           state  confirmed  deaths  recovered  active
0    2021-05-10   Uttar Pradesh      860.0    14.0      106.0     740
1    2020-05-27           Bihar     3444.0     0.0     2919.0     426
2    2021-03-21          Kerala        0.0     0.0       21.0    1106
3    2021-06-19  Andhra Pradesh        0.0    14.0      189.0    2544
4    2020-07-09  Madhya Pradesh     3556.0     0.0      646.0    2860
...         ...             ...        ...     ...        ...     ...
4994 2020-10-06   Uttar Pradesh     4952.0   177.0     3100.0    1675
4995 2020-11-06  Andhra Pradesh     1729.0    22.0       38.0    1669
4996 2020-05-20       Karnataka      340.0   164.0      227.0     -51
4997 2021-12-06      Tamil Nadu     2087.0   137.0      255.0    1695
4998 2020-07-10     West Bengal     2915.0    26.0        0.0     858

[4729 rows x 6 columns]

In [37]:
df.isnull().sum()

date         0
state        0
confirmed    0
deaths       0
recovered    0
active       0
dtype: int64